{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Bienvenue !
{% endblock %}

{% block body %}
    Hello les fermiers !
    <a href="{{ path('homepage') }}">Accueil</a> - <a href="{{ path('desk_show', {"deskId": 5}) }}">Bureau n°5</a>
{% endblock %}